.root {
    -fx-background-color: #f5f5f5;
}

.button {
    -fx-background-color: #edc231;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #edaf09;
}

.text {
    -fx-fill: #333;
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a4d69;
}

.field-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.data-label {
    -fx-font-size: 16px;
    -fx-text-fill: #000;
}

.preview-area {
    -fx-background-color: #f6f9fc;
    -fx-border-color: #c3c9d5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
    -fx-font-size: 16px;
}

/* Form Labels */
.form-label {
    -fx-font-size: 15px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

/* TextFields */
.form-input {
    -fx-padding: 6;
    -fx-font-size: 16px;
    -fx-background-radius: 6;
    -fx-border-color: #aaa;
    -fx-border-radius: 6;
}

/* TextAreas */
.form-textarea {
    -fx-padding: 6;
    -fx-font-size: 16px;
    -fx-background-radius: 6;
    -fx-border-color: #aaa;
    -fx-border-radius: 6;
}

/* Main Button */
.primary-button {
    -fx-background-color: #efc430;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.primary-button:hover {
    -fx-background-color: #f6bb07;
}


/* Background container */
.background-pane {
    -fx-background-color: linear-gradient(to bottom right, #f1f5f9, #eddb5f);
    -fx-padding: 30px;
    -fx-background-radius: 20px;

    /* Shadow */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.2, 0, 5);
}

.preview{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.preview-text{
    -fx-font-size: 16px;
}
